<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login - Drone Control</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        <label for="username">Namn:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Lösenord:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Logga in">
    </form>
    <p style="color:red">{{ message }}</p>
</body>
</html>
